#periodo-definido{
  display: none;
}

#tabla_periodos_publicacion{
  display: none;
}

td.dt-center { text-align: center; }


.sidebar-light-primary .nav-treeview > .nav-item > .nav-link.active, .sidebar-light-primary .nav-treeview > .nav-item > .nav-link.active:hover {
  color: #ffffff;
  background-color: #7b988c;
}

.pull-right {
  float: right!important;
}

body{
  margin: 0px;
}

#tabla-publicaciones, .dataTables_paginate, #dataTables-sentencias{
	font-size: .9em;
}

#tabla-publicaciones_wrapper, #dataTables-sentencias_wrapper{
	width: 90%; margin: 5px auto;
}

.dataTables_paginate .pagination li a{
	padding: 2px 5px;
}

.site-footer-relative{
  position: relative !important;
}

.breadcrumb {
  padding: 5px 0px !important;
}